package {{ root_package }}.{{ package }}.model;

import org.springframework.data.repository.CrudRepository;

public interface {{ entity }}Repository extends CrudRepository<{{ entity }}Entity, String> {
    {% for uk in unique%}
    public Optional<{{ uk.type }}> findBy{{ uk.column }}();
    {%- endfor %}
}
