package {{ root_package }}.security.model;

public enum SecurityRoles {
    ADMIN,
    {%- for buzz in process %}
    {{ buzz.manager_buzz }}
    {%- for role in buzz.roles_domain %}
    {{ role }}
    {%- endfor %}
    {%- endfor %}
}
